<form action="/saysomething" method="post">
  Name:<br>
  <input type="text" name="firstname" value="<%= params['name'] %>"><br>
  Say something:<br>
  <input type="text" name="saysomething" value="<%= params['say'] %>"><br><br>
  <input type="submit" value="Submit">
</form>
