<% if @match.errors.blank? %>
	$input_name = $("#score-<%= @match.id %>").find('input[name="input_score"]');
	$input_name.attr("type", 'hidden');
	$("#score-<%= @match.id %>").append('<span class="form-control btn btn-default" style=""> <%= @match.score %></span>')
<% else %>
	$('caption').append('<%= j(render partial: "shared/show_messages", locals: {flash: flash}) %>');
<% end %>
